<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    
    <script src="https://sdk.mercadopago.com/js/v2"></script> 

    <title>SoviOng</title>
  </head>
  <script>
   
    function Pagamento(url){
      window.open(url, '_blank');
    }

  </script>
  <body>
    <header class="header-bg">
      <div class="header-container">
        <p>SoviOng</p>
        <nav class="header-menu">
          <ul>
            <li><a href="#proposito">Propósito</a></li>
            <li><a href="#fazemos">O que fazemos</a></li>
            <li><a href="#parceiros">Parceiros</a></li>
            <li><a href="#doar">Doar</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-container">
      <section class="introducao">
        <h1 class="risco">A ONG dos camaradas</h1>
        <a href="#doar"> Doe Agora </a>
      </section>
      <section id="proposito" class="proposito">
        <h1 class="risco">Propósito</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, ea
          deserunt ipsam itaque animi consectetur eius nihil doloremque ratione
          obcaecati corporis nemo ipsa dignissimos porro.
        </p>
      </section>
      <section id="fazemos" class="fazemos">
        <h1 class="risco">O que fazemos</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          natus fugiat, culpa sunt asperiores qui dicta, nostrum molestias
          quaerat optio iste adipisci. Nisi doloribus corporis ab, perspiciatis,
          corrupti repudiandae, repellendus ipsa accusamus harum necessitatibus
          vero quos enim minima quo totam!
        </p>
      </section>
      <section id="parceiros" class="parceiros">
        <h1 class="risco">Parceiros</h1>
        <ul>
          <li><img src="../static/img/Flag_of_Cuba.svg.png" alt="" /></li>
          <li>
            <img
              src="../static/img/Flag_of_Ethiopia.svg.png
            "
              alt=""
            />
          </li>
          <li><img src="../static/img/Flag_of_Vietnam.svg.png" alt="" /></li>
        </ul>
      </section>
      <section id="doar" class="doar">
        <div class="informacao-container">
          <p>
            Todas as noças doações são destinadas a ex-soldados que serviram a
            pátria mãe
          </p>
          <img src="../static/img/donation.png" alt="" />
        </div>
        <div class="form-container">
          <form class="form" action="/mp/pagamento" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" />
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" id="sobrenome" name="sobrenome" />
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" />
            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais" />
            <label for="valor">Valor da Doação:</label>
            <input type="number" id="valor" name="valor" required />
            <input class="botao" type="submit" value="Enviar" />
            <div id="wallet_container"></div>
          </form>
        </div>
      </section>
    </main>
    <footer class="footer-bg">
      <div class="footer-container">
        <div class="footer-contato">
          <h2>Fale com a Gente</h2>
          <p>falecom@soldadossovieticos.org.br</p>
          <p>rua sputnik, 1957</p>
        </div>
        <div class="footer-premios">
          <p>Eleita a melhor ong de ajuda a ex-soldados soviéticos</p>
          <img src="../static/img/melhores_ongs_2022.png" alt="" />
        </div>
      </div>
    </footer>
  </body>
</html>
